<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="exists; else noUser">
    <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <h3 id="username-field">username</h3>
            <p>firstname lastname</p>
          </ion-label>
          <div *ngIf="notFriends">
            <ion-button><ion-icon name="add-outline"></ion-icon></ion-button>
          </div>
          <div *ngIf="outgoingRequest">
            <ion-button color="medium"><ion-icon name="timer-outline"></ion-icon></ion-button>
          </div>
          <div *ngIf="friends">
            <ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button>
          </div>
        </ion-item>
    </ion-card>
  </div>
  <ng-template #noUser>
    <div class="ion-text-center ion-margin-top">
      <ion-note style="text-align: center;">This user does not exist.</ion-note>
    </div>
  </ng-template>
</ion-content>