ion-content
{
  --ion-background-color:#fcf9f4;
  
}


.itemOpener {
  cursor: pointer;
}

.toggleItems {
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
}

.toggleItems.opened {
  max-height: 500px;
  transition: ease-in-out 600ms max-height;
}