<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="text" id="description" placeholder="New Description"></ion-input>
  <!-- Uncomment if changing pictures or username/password with edit profile page
  <ion-button expand="block" color="dark">Profile Pic</ion-button>
  <ion-button expand="block" color="dark">Background Pic</ion-button>
  <ion-input type="text" id="username" placeholder="New Username"></ion-input>
  <ion-input type="text" id="password" placeholder="New Password"></ion-input>
  -->
  <ion-button expand="block" (click)="save($event)">Save</ion-button>
</ion-content>
