<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="taskData; else noTaskData">
    <span *ngFor="let curr_task of taskData">
        <ion-item-divider>
          <h3>{{ curr_task.title_of_task }}</h3>
        </ion-item-divider>
        <ion-card><ion-card-content>
          Description: {{ curr_task.description_of_task }}
          <br>
          Time: {{ curr_task.time_of_task }}
          <br>
          Date: {{ curr_task.date_of_task }}
          <br>
          Buddy: {{ curr_task.profile_id }}
          <br>
        </ion-card-content></ion-card>
    </span>
  </div>
</ion-content>
