<ion-content>
  <ion-input placeholder="New Tag"></ion-input>
  <ion-input placeholder="New Description"></ion-input>
  <ion-button expand="block" color="dark">Profile Pic</ion-button>
  <ion-button expand="block" color="dark">Background Pic</ion-button>
  <ion-input placeholder="New Username"></ion-input>
  <ion-input placeholder="New Password"></ion-input>
  <ion-button expand="block" (click)="save($event)">Save</ion-button>
</ion-content>

<!-- Something like this for picture upload maybe
  <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
    accept="image/png, image/jpeg">  -->
